.nav-space {
    height:70px;
    width:auto;
    background-color: aqua;
    
}

.structure{ /*가운데 영역 928px 기준. (1024px~)*/
    width:100vw;
    display:flex;
    flex-direction: row;
    align-items: start;
    height:calc( 100vh - 70px);
    background-color: antiquewhite;
}
.sidebar{
    width:460px;
    height: 100%;
}
.sidebar-section{
    position: relative;
    top:70px;
    background-color:white;
    border:0.5px solid #DDDDDD;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    height:600px;
    width:260px;
    margin:auto auto;

}
.sidebar-info{
    text-align: center;
    font-size: 36px;;
}
.sidebar-menu{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height:548px;
}
.sidebar-menu>button{
    background:transparent;
    border:0;
    font-size:32px;
    cursor: pointer;
}
.main {
    background-color: antiquewhite;
    width : calc( 100vw - 460px);
    height:100%;
}
#sidebar-bookmark{
    position: absolute;
    width:60px;
    height:auto;
    top:0;
}